In [ ]:
import wooldridge as wd

In [ ]:
wase = wd.data("wage1")

In [ ]:
wase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   wage      526 non-null    float64
 1   educ      526 non-null    int64
 2   exper     526 non-null    int64
 3   tenure    526 non-null    int64
 4   nonwhite  526 non-null    int64
 5   female    526 non-null    int64
 6   married   526 non-null    int64
 7   numdep    526 non-null    int64
 8   smsa      526 non-null    int64
 9   northcen  526 non-null    int64
 10  south     526 non-null    int64
 11  west      526 non-null    int64
 12  construc  526 non-null    int64
 13  ndurman   526 non-null    int64
 14  trcommpu  526 non-null    int64
 15  trade     526 non-null    int64
 16  services  526 non-null    int64
 17  profserv  526 non-null    int64
 18  profocc   526 non-null    int64
 19  clerocc   526 non-null    int64
 20  servocc   526 non-null    int64
 21  lwage     526 non-null    float64
 22  expersq   526 non-null    int64
 23  tenursq   526 non-null    int64
dtypes: float64(2), int64(22)
memory usage: 98.8 KB

In [ ]:
datos = wase[["wage","educ","exper","female"]]

In [ ]:
datos

      wage  educ  exper  female
0     3.10    11      2       1
1     3.24    12     22       1
2     3.00    11      2       0
3     6.00     8     44       0
4     5.30    12      7       0
..     ...   ...    ...     ...
521  15.00    16     14       1
522   2.27    10      2       1
523   4.67    15     13       0
524  11.56    16      5       0
525   3.50    14      5       1

[526 rows x 4 columns]

In [ ]:
datos["female"]=datos["female"].map({0: "Hombre", 1:"Mujer"})

In [ ]:
datos

      wage  educ  exper  female
0     3.10    11      2   Mujer
1     3.24    12     22   Mujer
2     3.00    11      2  Hombre
3     6.00     8     44  Hombre
4     5.30    12      7  Hombre
..     ...   ...    ...     ...
521  15.00    16     14   Mujer
522   2.27    10      2   Mujer
523   4.67    15     13  Hombre
524  11.56    16      5  Hombre
525   3.50    14      5   Mujer

[526 rows x 4 columns]

In [ ]:
datos.to_csv("wooldridge.csv", index=False)

Traceback (most recent call last):
  File "/Users/lauralis/.vscode/extensions/ms-python.python-2025.4.0-darwin-x64/python_files/python_server.py", line 133, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/util/_decorators.py", line 333, in wrapper
    return func(*args, **kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/core/generic.py", line 3967, in to_csv
    return DataFrameRenderer(formatter).to_csv(
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        path_or_buf,
        ^^^^^^^^^^^^
    ...<14 lines>...
        storage_options=storage_options,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/formats/format.py", line 1014, in to_csv
    csv_formatter.save()
    ~~~~~~~~~~~~~~~~~~^^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/formats/csvs.py", line 251, in save
    with get_handle(
         ~~~~~~~~~~^
        self.filepath_or_buffer,
        ^^^^^^^^^^^^^^^^^^^^^^^^
    ...<4 lines>...
        storage_options=self.storage_options,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    ) as handles:
    ^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/common.py", line 873, in get_handle
    handle = open(
        handle,
    ...<3 lines>...
        newline="",
    )
OSError: [Errno 30] Read-only file system: 'wooldridge.csv'

In [ ]:
datos

      wage  educ  exper  female
0     3.10    11      2   Mujer
1     3.24    12     22   Mujer
2     3.00    11      2  Hombre
3     6.00     8     44  Hombre
4     5.30    12      7  Hombre
..     ...   ...    ...     ...
521  15.00    16     14   Mujer
522   2.27    10      2   Mujer
523   4.67    15     13  Hombre
524  11.56    16      5  Hombre
525   3.50    14      5   Mujer

[526 rows x 4 columns]

In [ ]:
datos.to_csv("wooldridge.csv", index=False)

Traceback (most recent call last):
  File "/Users/lauralis/.vscode/extensions/ms-python.python-2025.4.0-darwin-x64/python_files/python_server.py", line 133, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/util/_decorators.py", line 333, in wrapper
    return func(*args, **kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/core/generic.py", line 3967, in to_csv
    return DataFrameRenderer(formatter).to_csv(
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        path_or_buf,
        ^^^^^^^^^^^^
    ...<14 lines>...
        storage_options=storage_options,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/formats/format.py", line 1014, in to_csv
    csv_formatter.save()
    ~~~~~~~~~~~~~~~~~~^^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/formats/csvs.py", line 251, in save
    with get_handle(
         ~~~~~~~~~~^
        self.filepath_or_buffer,
        ^^^^^^^^^^^^^^^^^^^^^^^^
    ...<4 lines>...
        storage_options=self.storage_options,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    ) as handles:
    ^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/common.py", line 873, in get_handle
    handle = open(
        handle,
    ...<3 lines>...
        newline="",
    )
OSError: [Errno 30] Read-only file system: 'wooldridge.csv'

In [ ]:
datos["female"]=datos["female"].rename("genero")

In [ ]:
datos

      wage  educ  exper  female
0     3.10    11      2   Mujer
1     3.24    12     22   Mujer
2     3.00    11      2  Hombre
3     6.00     8     44  Hombre
4     5.30    12      7  Hombre
..     ...   ...    ...     ...
521  15.00    16     14   Mujer
522   2.27    10      2   Mujer
523   4.67    15     13  Hombre
524  11.56    16      5  Hombre
525   3.50    14      5   Mujer

[526 rows x 4 columns]

In [ ]:
datos["female"]=datos["female"].rename({"female" :"genero"})

In [ ]:
datos

      wage  educ  exper  female
0     3.10    11      2   Mujer
1     3.24    12     22   Mujer
2     3.00    11      2  Hombre
3     6.00     8     44  Hombre
4     5.30    12      7  Hombre
..     ...   ...    ...     ...
521  15.00    16     14   Mujer
522   2.27    10      2   Mujer
523   4.67    15     13  Hombre
524  11.56    16      5  Hombre
525   3.50    14      5   Mujer

[526 rows x 4 columns]

In [ ]:
datos = datos.rename(columns={"female":"genero"})

In [ ]:
datos

      wage  educ  exper  genero
0     3.10    11      2   Mujer
1     3.24    12     22   Mujer
2     3.00    11      2  Hombre
3     6.00     8     44  Hombre
4     5.30    12      7  Hombre
..     ...   ...    ...     ...
521  15.00    16     14   Mujer
522   2.27    10      2   Mujer
523   4.67    15     13  Hombre
524  11.56    16      5  Hombre
525   3.50    14      5   Mujer

[526 rows x 4 columns]

In [ ]:
datos

      wage  educ  exper  genero
0     3.10    11      2   Mujer
1     3.24    12     22   Mujer
2     3.00    11      2  Hombre
3     6.00     8     44  Hombre
4     5.30    12      7  Hombre
..     ...   ...    ...     ...
521  15.00    16     14   Mujer
522   2.27    10      2   Mujer
523   4.67    15     13  Hombre
524  11.56    16      5  Hombre
525   3.50    14      5   Mujer

[526 rows x 4 columns]

In [ ]:
datos.to_csv("wooldridge.csv", index=False)

Traceback (most recent call last):
  File "/Users/lauralis/.vscode/extensions/ms-python.python-2025.4.0-darwin-x64/python_files/python_server.py", line 133, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/util/_decorators.py", line 333, in wrapper
    return func(*args, **kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/core/generic.py", line 3967, in to_csv
    return DataFrameRenderer(formatter).to_csv(
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        path_or_buf,
        ^^^^^^^^^^^^
    ...<14 lines>...
        storage_options=storage_options,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/formats/format.py", line 1014, in to_csv
    csv_formatter.save()
    ~~~~~~~~~~~~~~~~~~^^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/formats/csvs.py", line 251, in save
    with get_handle(
         ~~~~~~~~~~^
        self.filepath_or_buffer,
        ^^^^^^^^^^^^^^^^^^^^^^^^
    ...<4 lines>...
        storage_options=self.storage_options,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    ) as handles:
    ^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/io/common.py", line 873, in get_handle
    handle = open(
        handle,
    ...<3 lines>...
        newline="",
    )
OSError: [Errno 30] Read-only file system: 'wooldridge.csv'